<nav class="navbar navbar-expand-lg">
    <div class="container-fluid" id="">
      <a class="navbar-brand" routerLink="Logo">Logo</a>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="Tableau">Tableau de bord</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Etudiant">Etudiant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Matiere">Matière</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Note">Note</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Moyenne">Moyenne</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Resultat">Résultat d'examen</a>
        </li>
      </ul>
      <form class="form-inline">
        <input class=" rech " type="search" placeholder="Rechercher" aria-label="Search">
      </form>
      <a class="mr-12 deconnex" href="#"><h5>Déconnexion</h5></a>
    </div>
  
  </nav>
