
   <!--corps-->
   
   <!--Gauche-->
   <div class="row">
    <div class="col-lg-6">
    <section class="col-md-6 col-lg-10"> 
        <form class="well">
 
                <h3>Ajout d'une Note</h3>
 
            <fieldset>
                <input id="num" type="text" class="form-control" placeholder="Nom">
                <input id="num" type="text" class="form-control" placeholder="Prenoms">
                <input id="num" type="number" class="form-control" placeholder="Niveau">
                <input id="num" type="number" class="form-control" placeholder="Filiere">
                <input id="num" type="number" class="form-control" placeholder="Année">
                <button type="button" class="btn btn-primary btn-block">Ajouter</button>
 
            </fieldset>
        </form>
   </section>
   </div>
     <!--droite-->
     <div class="col-lg-6"> 
     <section class="col-md-6 col-lg-10">
         <table class="table table-bordered table-striped table-condensed">
         <thead>
             <tr>
                 <th>Nom</th>
                 <th>Niveau</th>
                 <th>N-Mat</th>
                 <th>Filière</th>
                 <th>Modification</th>
                 <th>Suppression</th>
             </tr>
         </thead>
         <tbody>
             <tr class="active">
                 <td>RAKOTO</td>
                 <td>M1</td>
                 <th>JAVA</th>
                 <th>IMTICIA</th>
                 <td><button type="button" class="btn btn-success">Modifier</button></td>
                 <td><button type="button" class="btn btn-danger">Supprimer</button></td>
             </tr>
         </tbody>
         <tbody>
             <tr class="tr tr-warning">
                <td>RABE</td>
                <td>M1</td>
                <th>JAVASCRIPT</th>
                <th>ESIIA</th>
                 <td><button type="button" class="btn btn-success">Modifier</button></td>
                 <td><button type="button" class="btn btn-danger">Supprimer</button></td>
             </tr>
         </tbody>
         </table>
     </section>
   </div>
 </div>