<aside>
    <div class="titre">Résultats d'examen</div>
  </aside>
   <div class="container mt-5">
     <div class="row justify-content-around">

       <!--Gauche-->
       <section class="col-sm-4 bg-light">
         <label for="">Filière</label>
        <select class="form-select w-50 ml-4" id="inputGroupSelect03" aria-label="Example select with button addon">
          <option selected></option>
          <option value="1">IMTICIA</option>
          <option value="2">IGGLIA</option>
          <option value="3">ISAIA</option>
        </select>
        <br>
        <br>
        <label for="">Niveau</label>
        <select class="form-select w-50 ml-4" id="inputGroupSelect03" aria-label="Example select with button addon">
          <option selected></option>
          <option value="1">L1</option>
          <option value="2">L2</option>
          <option value="3">L3</option>
        </select>

       </section>
       

       <!--Droite-->
       <section class="col-sm-7 offset-sm-1 bg-light">
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th scope="col">Rang</th>
              <th scope="col">Non</th>
              <th scope="col">Prenom(s)</th>
              <th scope="col">Moyenne</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>16,33</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>15,86</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>15,22</td>
            </tr>
          </tbody>
        </table>
       </section>
     </div>
   </div>