
   <!--corps-->
   
   <!--Gauche-->
   <div class="row">
   <div class="col-lg-6">
   <section class="col-md-6 col-lg-10"> 
       <form class="well">

               <h3>Ajout d'une Note</h3>

           <fieldset>
               <input id="num" type="text" class="form-control" placeholder="Numéro matricule">
               <input id="num" type="text" class="form-control" placeholder="Code matière">
               <input id="num" type="number" class="form-control" placeholder="Note">
               <button type="button" class="btn btn-primary btn-block">Ajouter</button>

           </fieldset>
       </form>
  </section>
  </div>
    <!--droite-->
    <div class="col-lg-6"> 
    <section class="col-md-6 col-lg-10">
        <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Matière</th>
                <th>Note</th>
                <th>Modification</th>
                <th>Suppression</th>
            </tr>
        </thead>
        <tbody>
            <tr class="active">
                <td>15</td>
                <td>RNA</td>
                <td>13</td>
                <td><button type="button" class="btn btn-success">Modifier</button></td>
                <td><button type="button" class="btn btn-danger">Supprimer</button></td>
            </tr>
        </tbody>
        <tbody>
            <tr class="tr tr-warning">
                <td>12.5</td>
                <td>I.A.</td>
                <td>13</td>
                <td><button type="button" class="btn btn-success">Modifier</button></td>
                <td><button type="button" class="btn btn-danger">Supprimer</button></td>
            </tr>
        </tbody>
        </table>
    </section>
  </div>
</div>