
/*Corps ou body*/
.titre{
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 100px;
}

.container section .ajout{
    text-decoration: none;
    color: rgb(255, 255, 255); 
}
.container section .ajout h5{
    font-size: 15px;
    width: 100px;
    background-color: rgba(27, 44, 236, 0.898);
    border-radius: 2px;
    margin: auto;
    text-align: center;
    padding: 5px;
}