<aside>
    <div class="titre">Ajout d'une matière</div>
  </aside>
  
    <div class="container mt-5">
     <div class="row justify-content-around">
  
       <!--Gauche-->
       <section class="col-sm-4 bg-light drt" style="height: 500px;">
         <div class="choix d-flex flex-row ">
          <label for="">Sélectionner</label>
          <select class="form-select w-50 ml-2" id="inputGroupSelect03" aria-label="Example select with button addon">
            <option selected></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <a class="mr-12 ajout ml-2" href="#"><h5>Ajouter</h5></a>
         </div>
         
       </section>

       <!--Droite-->
       <section class="col-sm-6 offset-sm-2 bg-light gch">
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th scope="col">Cod_mat</th>
              <th scope="col">Libelle</th>
              <th scope="col">Coefficient</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
       </section>
     </div>
   </div>
